In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import random
from sklearn import datasets, linear_model
from sklearn.cross_validation import train_test_split
# import csv
# with open(r'/media/mahesh/Academic & Work/Y3 S1/Machine Learning 1/Assignment/Adult_Census_Income_Binary_Classification_dataset.csv', 'rb') as f:
#     data = list(csv.reader(f))

/home/mahesh/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [13]:
df = pd.read_csv('./Adult_Census_Income_Binary_Classification_dataset.csv', sep='\s+', names = ['age', 'workclass', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']);
# df.columns = ['age', 'workclass', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'income']
df.head()

,age,workclass,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
"age,","workclass,","education,","education-num,","marital-status,","occupation,","relationship,","race,","sex,","capital-gain,","capital-loss,","hours-per-week,","native-country,",income
"39,","State-gov,","Bachelors,13,","Never-married,","Adm-clerical,","Not-in-family,","White,","Male,2174,0,40,","United-States,",<=50K,NaN,NaN,NaN,NaN
"50,","Self-emp-not-inc,","Bachelors,13,","Married-civ-spouse,","Exec-managerial,","Husband,","White,","Male,0,0,13,","United-States,",<=50K,NaN,NaN,NaN,NaN
"38,","Private,","HS-grad,9,","Divorced,","Handlers-cleaners,","Not-in-family,","White,","Male,0,0,40,","United-States,",<=50K,NaN,NaN,NaN,NaN
"53,","Private,","11th,7,","Married-civ-spouse,","Handlers-cleaners,","Husband,","Black,","Male,0,0,40,","United-States,",<=50K,NaN,NaN,NaN,NaN